.registerContainer {
    background-color: #fff;
    width: 50vw;
    height: 100vh;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 6rem 9rem 0 4rem;
}

.heading {
    font-size: 2rem;
    font-weight: 700;
    margin: 0px;
}

.subHeading {
    font-size: 1rem;
    font-weight: 500;
    color:#525252 ;
    margin-top: 0.3rem;
    margin-bottom: 1.5rem;
}

.input {
    height: 40px;
    padding: 0 8px;
    margin: 0.7rem 0;
    border-radius: 5px;
    border: 2px solid #C2C2C2;
    outline: none;
    font-family: "DM Sans", sans-serif;
}

.button  {
    width: 180px;
    height: 40px;
    background-color: #ED5353;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    margin: 1.5rem 0 0.5rem 0;
    font-family: "DM Sans", sans-serif;
}

.label {
    font-size: 0.9rem;
    color: #525252
}